*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
}

.container{
  height: 100vh;
  background: linear-gradient(135deg, #38bdf8, #2563eb);
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-app{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  max-width: 500px;
  padding: 20px 30px;
  border-radius: 10px;
}

.todo-app .head{
  display: flex;
  gap: 7px;
  align-items: center;
  margin-bottom: 5px;
}

.todo-app .head img{
  width: 30px;
}

.todo-app .head h2{
  color: #1349be;
}

.todo-app p{
  font-size: 0.8rem;
}

.todo-app .add-task-section{
  display: flex;
  width: 100%;
  background-color: rgb(231, 231, 231);
  border-radius: 20px;
  margin-top: 30px;
}

.todo-app .add-task-section input{
  flex: 1;
  padding: 10px 15px;
  border-radius: 20px;
  width: 100%;
  border: none;
  outline: none;
  background: transparent;
  font-size: 1rem;
}

.todo-app .add-task-section button{
  padding: 10px 25px;
  border-radius: 50px;
  border: none;
  outline: none;
  background: linear-gradient(135deg, #38bdf8, #2563eb);
  color: white;
  transition: all 0.3s ease;
  cursor: pointer;
}

.todo-app .add-task-section button:hover {
  background: linear-gradient(135deg, #0ea5e9, #1d4ed8);
}

.todo-app .task-list{
  margin: 30px;
  padding: 0 30px;
  display: flex;
  justify-content: start;
  align-items: start;
  width: 100%;
}

.task-list div{
  width: 100%;
}

ul{
  list-style: none;
}

ul li{
  position: relative;
  margin: 5px 0;
  cursor: pointer;
}

ul li::before{
  position: absolute;
  content: '';
  width: 25px;
  height: 25px;
  background-image: url(src/images/circle-svgrepo-com.png);
  background-position: center;
  background-size: cover;
  top: 2px;
  left: -30px;
}

ul li.checked{
  color: #555;
  text-decoration: line-through;
}

ul li.checked::before{
  background-image: url(src/images/completed-checkmark-done-complete-svgrepo-com.png);
}

ul li span{
  color: black;
  position: absolute;
  width: 30px;
  height: 30px;
  right: -30px;
  top: 0px;
  font-size: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}


ul li span:hover{
  background-color: silver;
}


@media (max-width: 435px) {
  .todo-app{
    width: 90%;
  }
}